# General
.DS_Store
.idea/
.vscode/
*.log

# Python
__pycache__/
*.py[cod]
venv/
.env

# Go
bin/
obj/

# Java
target/
*.class
*.jar

# Angular
dist/
node_modules/

/@plan

# Docker data
infrastructure/docker/postgres_data/

# IDEs
.idea/
.vscode/

# Environment secrets
.env
*.env